.footer {
    display: flex;
    flex: 1;
    background-color:  rgba(124,48,80,1);
}

.footer__logo {
    height: 100px;
    width: 100px;
}

.mail {
    color: white;
    border-bottom: 1px solid red;
    padding-bottom: 10px;
    margin-top: 15px;
}

.number {
    color: white;
    border-bottom: 1px solid red;
    margin-bottom: 10px;
    padding-bottom: 10px;

}

.address {
    color: white;
    border-bottom: 1px solid red;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.logoInfo {
    padding: 20px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
}

.links {
    margin-left: 200px;
}

.name {
    color: yellow;
    font-size: 25px;
}

.social {
    color: yellow;
    font-size: 25px;
}

.social__con {
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    margin-bottom: 30px;
}

.icon {
    width: 20px;
    height: 20px;
}

.fhome {
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.fcontact {
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 25px;
}

.fgallery {
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 25px;
}

.ffacility {
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
}


@media screen and (max-width:550px) {
    .footer {
        display: flex;
        flex-direction: column;
        flex: 1;
        background-color: rgba(124,48,80,1);
    }
    .links {
        margin-left: 40px;
    }
    .social__con {
        display: flex;
        flex-direction: column;
        margin-left: 40px;
    }
}